<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <div style="padding: 10px;">
            <!-- Buttons to do some actions -->
            <add-item-modal></add-item-modal>
            <button type="button" class="btn btn-outline-primary">Update Stock</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Item Code</th>
                <th scope="col">Item Name</th>
                <th scope="col">Opening Stock</th>
                <th scope="col">Current Stock</th>
                <th scope="col">Closing Stock</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items">
                <th scope="row">{{ item.itemCode }}</th>
                <td>{{ item.itemName }}</td>
                <td>{{ item.stock.openingStock }}</td>
                <td>{{ item.stock.currentStock }}</td>
                <td>{{ item.stock.closingStock }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
    </div>
  </div>
</div>